@charset "UTF-8";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}







.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #71c55d;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #71c55d;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #55b03f;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 20px 0;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {}

#header #logo img {
  padding: 0;
  margin: 0;
}

#header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

#header .nav-menu ul li p span {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

#header .nav-menu a:hover {
  color: rgb(206, 162, 104);
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Menu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #1D1F2E;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 15px;
  outline: none;
  letter-spacing: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover>a {}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 4px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
  font-size: 24px;
}

@media (max-width: 1024px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {}

#mobile-nav ul .menu-active a {}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

#skdap {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* =========hero======== */

#hero {
  background-image: url(../img/hero.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 730px;

}

#hero .block-hero {
  padding-top: 220px;
  text-align: center;
}

#hero .block-hero h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

#hero .block-hero h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  color: #ffffff;
}

#hero .block-hero p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
}

#hero .block-hero a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding: 4px 26px;
  background-color: #ffffff;
  text-decoration: none;
  transition: background linear, 0.5s;
}

#hero .block-hero a:hover {
  background-color: #ffffff15;
  color: #ffffff;

}

@media(max-width:600px) {
  #hero .block-hero p {
    font-size: 14px;
  }
}

/* ==========hero-block-1========= */

#hero-block-1 {
  padding: 123px 0 102px 0;
}

#hero-block-1 .hero-block-text {
  text-align: center;
}

#hero-block-1 .hero-block-text h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: #1D1F2E;
  padding-bottom: 16px;
}

#hero-block-1 .hero-block-text p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

#hero-block-1 .hero-block-text a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #A25F4B;
  border-bottom: 2px rgba(162, 95, 75, 0.2) solid;
  padding-bottom: 1px;
  margin-bottom: 1px;
  text-decoration: none;
}

#hero-block-1 .hero-block-text a:hover {
  color: rgba(196, 97, 67, 0.781);
}

/* ========product===== */

#product {
  padding-bottom: 100px;
}


#product h3 {
  text-align: center;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 100px;
}

#product img {
  width: 100%;
  padding-bottom: 35px;
}


#product h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

#product p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  text-align: center;
}

#product h5 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #A25F4B;
  text-align: center;
}

#product strike {
  color: rgba(29, 31, 46, 0.4);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-decoration-line: line-through;
}

/* ========more-product======== */

#more-product {}

#more-product img {
  width: 100%;
  padding-bottom: 30px;
}

#more-product h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 150px;
}

#more-product h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
}

#more-product h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #A25F4B;
  text-align: center;
}

#more-product strike {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.4);
}

#more-product p {
  padding-bottom: 40px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

@media(max-width:600px) {
  #more-product p {
    padding-bottom: 10px;
  }
}

@media(max-width:768px) {
  #more-product p {
    padding-bottom: 10px;
  }
}


/* ======abot====== */

#about {
  padding-bottom: 100px;
}

#about h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-top: 40px;
}

#about .block {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

#about .left {
  margin-right: 30px;
}

#about .about-block-2 {
  margin: 0;
}

#about .about-block-1 {
  padding-bottom: 20px;
}

#about .block-text {
  margin-top: 110px;
}

#about img {}

#about h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

#about h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

#about p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

#about a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background: #1D1F2E;
  border-radius: 0px;
  padding: 10px 25px;
  margin-bottom: 40px;
  text-decoration: none;
  transition: background linear, 0.5s;
  transition: color linear, 0.5s;
  transition: border linear, 0.5s;
}

#about a:hover {
  background-color: #ffffff;
  color: #1D1F2E;
  border: 1px solid #1D1F2E;
}

@media(max-width:600px) {
  #about .block-text {
    margin-top: 50px;
  }

  #about .left img {
    width: 90%;

  }

  #about .left {
    margin-right: 15spx;
  }


  #about .right {
    width: 60%;
  }
}

@media(max-width:768px) {
  #about .block-text {
    margin-top: 50px;
  }
}

@media(max-width:868px) {
  #about .block-text {
    margin-top: 50px;
  }
}

/* ========block-img======= */
#block-img {
  background-image: url(../img/block-img.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 349px;
  margin-bottom: 80px;
}

@media(max-width:600px) {
  #block-img {
    background-position: center center;
  }
}

@media(max-width:768px) {
  #block-img {
    background-position: center center;
  }
}


/* =======blog====== */
#blog {}

#blog h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  padding-bottom: 90px;
}

#blog img {
  width: 100%;
  padding-bottom: 29px;
  padding-top: 10px;
}

#blog h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #1D1F2E;
  float: left;
  padding-bottom: 5px;
}

#blog p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

#blog span {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  margin-bottom: 10px;
}

@media(max-width:600px) {
  #blog img {
    width: 370px;
  }
}

/* ========sign-up====== */
#sign-up {
  background-color: #1D1F2E;
  border-radius: 0px;
  height: 327px;
  margin-top: 150px;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
}

#sign-up h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px;
  padding-top: 80px;
}

#sign-up h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}



#sign-up input {
  width: 35%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #2F303E;
  border-radius: 0;
  background-color: #ffffff00;
  text-align: center;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

#sign-up .block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up a {
  border-radius: 0px;
  background-color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 10px;
  transition: background linear, 0.5s;
  transition: color linear, 0.5s;
  transition: border linear, 0.5s;
}

#sign-up a:hover {
  background-color: rgba(255, 255, 255, 0.027);
  color: #ffffff;
  border: 1px solid #fff;
}

/* =======footer===== */
#footer {
  padding-bottom: 50px;
}

#footer p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  padding-bottom: 50px;
}

#footer h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  text-align: center;
  padding-bottom: 10px;
}

#footer ul li a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  text-decoration: none;
}

#footer li {

  text-align: center;
}

#footer ul li a:hover {
  color: #000000;
}

#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#footer h2 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #1D1F2E;
}

#footer span {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
}

#footer .text-p {}

@media(max-width:600px) {
  #footer .text-p {
    padding-bottom: 20px;
  }
}


#go-top {
  position: fixed;
  bottom: 25px;
  right: 50px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 40px;
  height: 30px;
  background: #c0c0c023;
  line-height: 30px;
  border-radius: 5px;
}

#go-top:hover {
  background: #333;
  color: #fff;
}